/* main css file */

/* default 시작 */

@import url("/fa/font-awesome.css");


@font-face {
  font-family: 'ulsanjunggu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dimibang_new';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/dimibang_new.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }



*{padding:0;margin:0;font-family: 'NanumBarunGothic';}
li{list-style:none}
a{text-decoration:none;font-size:14px; color:black;}
html,body{
  height:100%;
}
main{
  min-height: 100%;
  position: relative;
}
div.top{
    background-color : gray;
    width : 100%;
    height : 100px;
    display: table;
}
div.cell{
  display:table-cell;
  vertical-align: middle;
}
div.header{
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: rgba( 235, 221, 204, 1 );
    height : 51px;
    color:black;

}
.menu {
    margin-left : 10%;
    width:100%;
    overflow: hidden;
    
  }
  
  .menu > li {
    width: 20%; 
    float: left;
    text-align: center;
    line-height: 50px;
    background-color: rgba( 235, 221, 204, 0.5 );
  }
  .menu a{
    font-size:16px;
  }
  

  
  .submenu > li {
    line-height: 50px;
    background-color: rgba( 235, 221, 204, 0.5 );
  }
  
  .submenu {
    height: 0; 
    overflow: hidden;
  }

  
  .menu > li:hover .submenu {
    height: 100px;
    transition-duration: 700ms;
  }
  .menu >li:hover .underline{
    border-bottom: solid 3px red;
  }
  table{
    margin-left:auto;
    margin-right:auto;
  }
  div.logo{
    font-family: 'ulsanjunggu';
    font-size: 50px;
    color:white;
    
  }
  div.logo > a{
    font-family: 'ulsanjunggu';
    font-size: 50px;
    color:white;
    
  }

  div.logoExplain{
    margin-left:5px;
    font-family:'dimibang_new';
    color:white;
    font-size:15px;
  }

  footer{
    padding : 10px;
    background-color : gray;
    text-align: center;
    position : relative;
    margin-bottom: 0px;
  }
  footer span{
    font-size:15px;
    color:white;
  }
  footer p{
    margin-top:5px;
    color:white;
  }
  .fa{
    width:15px;
    height:15px;
    margin-top:5px;
    margin-right:5px;
  }
  .fa-facebook{
    color:white;
  }
  .fa-twitter{
    color:white;
  }
  .fa-instagram{
    color:white;
  }
  .phone{
    color:white;
  }
  /* default 끝 */


  /* main css 시작 */
  .slide_box{
    z-index: 1;
    position: relative;
    display:table;
    margin-left:auto;
    margin-right:auto;
  }
  .slider{
    width: 1000px;
    height: 500px;
    border-radius : 10px;
    overflow : hidden;
}

.slides{
    width : 500%;
    height : 500px;
    display : flex;
}

.slides input{
    display : none;
    
}

.slide{
    width : 20%;
    transition: 2s;
    
}

.slide img{
    width : 1000px;
    height : 500px;
}


.navigation-manual{
    position : absolute;
    width : 1000px;
    margin-top: -40px;
    display : flex;
    justify-content : center;
}

.manual-btn{
    border: 4px solid red;
    padding : 5px;
    border-radius : 10px;
    cursor : pointer;
    transition : 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: blueviolet;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position : absolute;
    display : flex;
    width : 1000px;
    justify-content : center;
    margin-top : 460px;
}

.navigation-auto div{
    border : 4px solid red;
    padding : 5px;
    border-radius : 10px;
    transition : 1s;
}


.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: gray;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: gray;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: gray;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: gray;
}
/* main css 끝*/

/* beverage css 시작 */
/* beverage css 끝 */

/* chef css 시작 */
#chef{
  text-align:center;
  margin-top:80px;
}
#chef p{
  margin-left:30px;
}
/* chef css 끝 */

/* contact css 시작 */
#contactForm{
  text-align: center;
  margin-top : 80px;
  
}
/* contact css 끝 */

/* direction css 시작 */
/* direction css 끝 */

/* greeting css 시작 */
#greeting{
  text-align: center;
  margin-top:80px;
}
#greeting_title{
  margin-bottom : 10px;
  font-size:40px;
}
#greeting_comment{
  margin-top: 20px;
  margin-bottom:20px;
  color:gray;
}
/* greeting css 끝 */

/* reservation css 시작 */

.inputCell{
  margin-top:15px;
}
.inputCell >p{
  font-weight:bold;
}
.inputCell >input{
  margin-top:5px;
  font-size: 20px;
  width :300px;
  height:50px;
}
#reservationForm{
  text-align: center;
  margin-top : 80px;
  
}
.buttonCell>button{
  font-size:20px;
  margin:10px;
  padding:10px;
  width:300px;
  
  
}
textarea{
  margin-top:5px;
}
/* reservation css 끝 */
